/* css styles */
/* Harvey Mudd Gold for Navbar Text */
.navbar-dark .navbar-nav .nav-link, 
.navbar-dark .navbar-brand {
    color: #E5A823 !important; 
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFFFFF !important; 
}